body{
    display: flex;
    justify-content: center;
    min-height: 50vw;
    align-items: center;
}
 .boton{
    width:300px;
    height:70px;
    font-size: 24pt;
    color: rgb(41, 40, 40);
    border: none;
    border-radius: 10px;
    background-color:rgb(0, 160, 0);
    cursor: pointer;
 } 
    
.boton:hover{
    transition: all  0.4s;
    transform: translateY(-5px);
    background:rgb(2, 136, 2);
    box-shadow: 2px 5px #616161;
    color: rgb(253, 253, 253);
    
}
